.canvas {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    border-radius: 7px;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}